@charset "utf-8";
/* CSS Document */

body {
	background-color: #5d5d5d;
	font-family: Arial, Helvetica, sans-serif;
}
#wrapper {
	width: 1050px;
	margin-right: auto;
	margin-left: auto;
	margin-top: 17px;
	margin-bottom: 10px;
	position: relative;
}
#header {
	clear: both;
	width: 100%;
	height: 161px;
	padding-left: 21px;
	background-image: url(../_images/headBack.png);
	background-position: 21px 0px;
	background-repeat: no-repeat;
	padding-top: 24px;
}
#logo {
	float: left;
	height: 108px;
	width: 294px;
}
#navigation {
	float: left;
	height: 62px;
	width: 705px;
	background-color: #FFF;
	padding-right: 30px;
	padding-top: 46px;
}
#share {
	clear: both;
	height: 54px;
	width: 1000px;
	background-color: #e6e6e6;
	padding-right: 29px;
}
#loginForm {
	background-image: url(../_images/loginForm.png);
	height: 82px;
	width: 311px;
	position: absolute;
	top: 110px;
	right: 30px;
	padding-top: 16px;
	padding-left: 16px;
}

#loginForm form #inputs {
	width: 225px;
	float: left;
}


#loginForm input[type="text"] {
	background-color: #FFF;
	height: 24px;
	width: 200px;
	margin-bottom: 3px;
	padding-top: 3px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 10px;
	color: #8b8a8a;
	font-size: 18px;
}


#loginForm input[type="text"]:focus{
	background-color:#F0F0F0;
	color: #8b8a8a;
	font-size: 18px;
}

#loginForm input[type="password"] {
	background-color: #FFF;
	height: 24px;
	width: 200px;
	margin-bottom: 3px;
	padding-top: 3px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 10px;
	color: #8b8a8a;
	font-size: 18px;
}
#loginForm input[type="password"]:focus {
	background-color:#F0F0F0;
	color: #8b8a8a;
	font-size: 18px;
}

#loginForm input[type="submit"]{
	float:right;
	height:62px;
	cursor:pointer;
	background-image: url(../_images/goLogin.png);
	background-repeat: no-repeat;
	width: 62px;
	border-top-width: 0px;
	border-right-width: 0px;
	border-bottom-width: 0px;
	border-left-width: 0px;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
	padding: 0px;
	margin-top: 2px;
	margin-right: 14px;
	margin-bottom: 0px;
	margin-left: 0px;
	background-color: transparent;
}
.slidingDiv {
	display: none;
}
.slidingDivReg {
	display: none;
}

#RegForm {
	background-image: url(../_images/regForm.png);
	height: 115px;
	width: 311px;
	position: absolute;
	top: 110px;
	right: 30px;
	padding-top: 16px;
	padding-left: 16px;
}
#RegForm form #inputs {
	width: 225px;
	float: left;
}
#RegForm input[type="text"] {
	background-color: #FFF;
	height: 24px;
	width: 200px;
	margin-bottom: 3px;
	padding-top: 3px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 10px;
	color: #8b8a8a;
	font-size: 18px;
}

#RegForm input[type="text"]:focus {
	background-color:#F0F0F0;
	color: #8b8a8a;
	font-size: 18px;
}
#RegForm input[type="password"] {
	background-color: #FFF;
	height: 24px;
	width: 200px;
	margin-bottom: 3px;
	padding-top: 3px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 10px;
	color: #8b8a8a;
	font-size: 18px;
}
#RegForm input[type="password"]:focus {
	background-color:#F0F0F0;
	color: #8b8a8a;
	font-size: 18px;
}

#RegForm input[type="submit"] {
	float:right;
	height:62px;
	cursor:pointer;
	background-image: url(../_images/goLogin.png);
	background-repeat: no-repeat;
	width: 62px;
	border-top-width: 0px;
	border-right-width: 0px;
	border-bottom-width: 0px;
	border-left-width: 0px;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
	padding: 0px;
	margin-top: 18px;
	margin-right: 14px;
	margin-bottom: 0px;
	margin-left: 0px;
	background-color: transparent;
}


#navigation #loginBtns {
	float: right;
	width: 327px;
}
#navigation #userBtns {
	float: right;
}

#share #btns {
	float: right;
}
#share #btns img{
	margin-top: 8px;
	margin-right: 4px;
}

#mainBody {
	width: 1050px;
	clear: both;

}

#sideNav {
	width: 21px;
	float: left;
}
#banners {
	height: 85px;
	width: 969px;
	float: left;
	background-color: #FFF;
	padding-right: 30px;
	padding-left: 30px;
	padding-top: 40px;
}
#banners #add1 {
	float: left;
}
#banners #add2 {
	float: left;
	margin-left: 29px;
}

#feeds {
	float: left;
	width: 969px;
	height: 500px;
	background-color: #FFF;
	padding-right: 30px;
	padding-left: 30px;
}
#feeds h2 {
	color: #00aeef;
	margin-top: 20px;
	margin-right: 0px;
	margin-bottom: 20px;
	margin-left: 0px;
	font-size: 28px;
	font-weight: normal;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;

}


#feeds #firstFeed   {
	float: left;
	width: 280px;
	height: 500px;
	background-color: #FFF;
	margin-right: 65px;
}
#feeds #secondFeed {
	float: left;
	width: 280px;
	height: 500px;
	background-color: #FFF;
	margin-right: 64px;
}
#feeds #thirdFeed {
	float: left;
	width: 280px;
	height: 500px;
	background-color: #FFF;
}



#footer {
	padding-left: 21px;
	background-image: url(../_images/footBack.jpg);
	background-repeat: no-repeat;
	height: 79px;
	background-position: 21px 54px;
	clear: both;
}
#copyright {
	height: 34px;
	background-color: #e6e6e6;
	clear: both;
	padding-top: 20px;
}
#copyright h4 {
	color: #8e8e8e;
	font-size: 16px;
	margin-top: 0px;
	margin-left: 52px;
	display: block;
	padding: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	text-transform: uppercase;

}
.twittDiv {
	float: left;
	width: 280px;
	display: block;
	font-size: 14px;
	margin-bottom: 25px;
	color: #696969;
}
#userForm {
	float: left;
	width: 669px;
	padding-top: 25px;
}
#sideTwit {
	float: right;
	width: 300px;
	overflow: scroll;
	height: 500px;
}

ul.dropdown {
	position: relative;
}

ul.dropdown li {
	font-weight: bold;
	float: left;
	zoom: 1;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	text-shadow: 0 2px 1px rgba(0,0,0,0.2);
	background-image: url(../_images/userBtns.png);
	background-repeat: no-repeat;
	padding: 0px;
	height: 24px;
	width: 119px;
	margin-top: 0px;
	margin-right: 10px;
	margin-bottom: 0px;
	margin-left: 0px;
}

ul.dropdown a:hover {
    color: #000;
}

ul.dropdown a:active {
    color: #ffa500;
}

ul.dropdown li a {
	display: block;
	color: #fff;
	margin: 0px;
	padding-top: 4px;
	padding-right: 8px;
	padding-bottom: 4px;
	padding-left: 8px;
}

ul.dropdown li:last-child a {
    border-right: none;
}
ul.dropdown li.hover, ul.dropdown li:hover {
	color: black;
	position: relative;
	color:#fff;
}

ul.dropdown li.hover a {
    color: #fff;
    font-weight:bold;
}
ul.dropdown ul {
    width: 220px;
    visibility: hidden;
    position: absolute;
    top: 100%;
    left: 0;
}

ul.dropdown ul li {
	font-weight: normal;
	color: #000;
	float: none;
	background-image: url(../_images/subMenu.png);
	background-repeat: no-repeat;
	width: 129px;
	height: 26px;
}
ul.dropdown ul li a {
	border-right: none;
	width: 100%;
	display: inline-block;
	color: #333;
}
#wrapper #header #navigation #userBtns #page-wrap .dropdown li .sub_menu li a {
	color: #8e8e8e;
	height: 26px;
}
#wrapper #header #navigation #userBtns #page-wrap .dropdown li .sub_menu li a:hover {
	color: #FFF;
	background-image: url(../_images/subMenuHov.png);
	background-repeat: no-repeat;
}
a {
    text-decoration: none;
}
ul.dropdown ul ul {
    left: 100%;
    top: 0;
}

ul.dropdown li:hover > ul {
    visibility: visible;
}

.success, .error {
    position: relative;
    top: 18px;
    border: 1px solid;
    margin: 10px 65px;
    padding: 15px 150px;
    background-repeat: no-repeat;
    background-position: 10px center;
    cursor: pointer;
}
.success {
    color: #4F8A10;
    background-color: #DFF2BF;
}
.error {
    color: #D8000C;
    background-color: #FFBABA;
}
